*, *:after, *:before {
	box-sizing: border-box;
}
.column {
			float: left;
		  width: 33.33%;
		  height: 400px;
	}
.grid:after {
		content: "";
		display: table;
		clear: both;
}			
.column div{
		border: 4px solid gray;			
		margin: 0px 20px 0px 20px; 
		padding: 0px 10px 10px 10px;
		background: #eee;
}
